.status {
  position: fixed;
  bottom: 20px;
  right: 20px;

  padding: 10px 20px;

  background-color: rgba(255, 0, 0, 0.5);
  border-radius: 5px;
  
  .status--header {

  }

  .status--body {

  }
}